<!-- <div class="justify-content-center" style="width:400px"> -->
<form #bookForm="ngForm">
  <div class="form-group ">
    <label for="name">Name</label>
    <input required type="text" autocomplete="off" placeholder="Enter Name" [(ngModel)]="book.name" id="name" name="name"
      class="form-control">
  </div>

  <div class="form-group ">
    <label for="author">Author</label>
    <input required type="text" autocomplete="off" placeholder="Enter Author" [(ngModel)]="book.author" id="author" name="author"
      class="form-control">
  </div>

  <div class="form-group ">
    <label for="dateElemnt">Date</label>
    <input required type="date" placeholder="Select Date" 
    [ngModel] ="book.date | date:'yyyy-MM-dd'" (ngModelChange)="book.date = $event"
  id="dateElemnt" class="form-control" name="date">
  </div>


  <button class="btn btn-primary" (click)="save()" [disabled]="!bookForm.form.valid">Save</button>
</form>